*,
header,
nav,
section,
footer,
h1,
h2,
p {
  margin-bottom: 1rem;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
body {
  font-size: 16px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

header > nav .card .badge {
  background: purple !important;
}

nav a + a {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

#agenda {
  background: #e9f1f3;
  padding: 1rem;
}

#Administrativo {
  padding: 1rem;
}

#PresentacionPersonal {
  background: #e9f1f3;
  padding: 1rem;
  width: 100%;
  text-align: right;
  border-radius: 6%;
}

#PresentacionPersonal ol li:nth-child(2) {
  width: 100%;
  max-width: 400px;
}

/* BOTÓN DE MENÚ */

/* El botón hamburguesa solo se muestra en móviles <= 480px */
.menu-btn {
  display: none;
}

@media (max-width: 480px) {
  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  #main-nav-list {
    display: none;
  }
  #main-nav[aria-expanded="true"] #main-nav-list {
    display: flex;
  }
}

/* NAV PRINCIPAL */
#main-nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

/* MÓVILES PEQUEÑOS */
@media (max-width: 480px) {
  .menu-btn {
    display: block;
  }
  body {
    font-size: 14px;
    background-color: bisque;
  }

  header > nav {
    gap: 1rem;
  }

  #main-nav-list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  #main-nav[aria-expanded="true"] #main-nav-list {
    display: flex;
  }
}

/* MÓVILES/ TABLET */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    background-color: rgb(76, 230, 15);
  }

  .menu-btn {
    display: none;
  }

  #main-nav-list {
    display: flex;
    gap: 7rem;
    list-style: none;
  }
}

/* DESKTOP GRANDE */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
    background-color: rgb(76, 230, 15);
  }

  .menu-btn {
    display: none;
  }

  #main-nav-list {
    display: flex;
    gap: 7rem;
    list-style: none;
  }
}
