.container {
  margin: 2rem auto;
  padding: 2rem 1rem;
  max-width: 1200px;
  background: white;
  border: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: #f5f5f5;
  color: #222;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background: white;
}
section {
  margin-bottom: 2rem;
}
img {
  max-width: 80%;
}
p {
  line-height: 1.6;
}
h1,
h2 {
  font-family: var(--font-family);
  margin-bottom: 1.5rem;
}

.card {
  margin-top: 1.5rem;
  border: none;
}
#administrativo {
  background: #a9d6e5;
  padding: 1rem;
  border: none;
}
#administrativo h2 {
  margin-top: 0;
  text-align: center;
}

#administrativo article {
  margin-top: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #f8fada;
}
#agenda {
  background: #a9d6e5;
  padding: 1rem;
}
.Tecimage {
  max-width: 100%;
  max-height: 25%;
  top: 0;

  border-radius: 1000%;

  margin-right: auto;
  margin-left: auto;
  display: block;
}
#equipos table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 1rem;
}

#equipos th,
#equipos td {
  border: 1px solid #333; /* Bordes visibles */
  padding: 8px 12px;
  text-align: left;
}

#equipos th {
  background-color: #ff99c8; /* Cabecera resaltada */
  font-weight: bold;
}
